body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  border: 5px solid rgba(0, 0, 0, 0.415);
  border-radius: 25px;
  background-color: rgb(33, 53, 123);
}

.square {
  width: 34rem;
  /* height: 17.5rem; */
  height: auto;
  min-height: 17.5rem;
  border-radius: 20px;
  margin: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  color: rgb(233, 233, 233);
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
}

.q-container {
  display: flex;
  flex-direction: row;
}

.q-num {
  margin: 0.5rem;
  font-size: 1.5rem;
  height: 4.5rem;
}

.question {
  margin: 0.5rem;
  font-size: 22px;
}

ol {
  list-style-type: none;
  min-height: 6rem;
}

li {
  font-size: 1.2rem;
  margin-left: 1.3rem;
}

.timer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 2rem;
  font-weight: 800;
  font: helvetica;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: auto 0 0 auto;
  border-radius: 50%;
}

#s1 {
  background-color: rgb(54, 131, 239);
  box-shadow: inset 5px 5px rgb(149, 191, 255), 5px 5px rgba(21, 62, 115, 0.744);
}

#s2 {
  background-color: orange;
  box-shadow: inset 5px 5px rgb(255, 149, 149), 5px 5px rgba(115, 21, 21, 0.744);
}

#s3 {
  background-color: rgb(180, 54, 239);
  box-shadow: inset 5px 5px rgb(239, 149, 255),
    5px 5px rgba(115, 21, 107, 0.744);
}

#s4 {
  background-color: rgb(239, 54, 171);
  box-shadow: inset 5px 5px rgb(232, 149, 255),
    5px 5px rgba(113, 21, 115, 0.744);
}

.square:active {
  animation-name: shake;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.604), 1px -1px 0 rgba(0, 0, 0, 0.549),
    -1px 1px 0 rgba(0, 0, 0, 0.495), 1px 1px 0 rgba(0, 0, 0, 0.495);
}

@keyframes shake {
  0%,
  100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.008) translateY(-2px);
  }
}

.temp .timer {
  animation-name: tick;
  animation-duration: 1.05s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.timer {
  animation: tick 1.05s infinite;
}

@keyframes tick {
  0%,
  100% {
    font-size: 2.2rem;
  }
  30% {
    font-size: 1.8rem;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  99% {
    transform: rotateY(360deg);
  }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
}